# Rename this file to .env and supply the values listed below.
# Also make sure they're available to the build tool (ex: Gatsby Cloud)

FIREBASE_API_KEY=insertValue
FIREBASE_AUTH_DOMAIN=insertValue
FIREBASE_PROJECT_ID=insertValue
FIREBASE_STORAGE_BUCKET=insertValue
FIREBASE_APP_ID=insertValue
